body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
main {
    padding: 1rem;
}
h3 {
    padding-left: 1rem;
}
input {
    margin-bottom: 1rem;
}
#button {
    background-color: gold;
    border-radius: 10px;
    border: gold ;
    height: 2rem;
    display: block;
}
div {
    padding-top: 1rem;
}
nav {
    background-color: rgb(85, 236, 85);
    height: 10vh;
}
ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
li {
    list-style-type: none;
    padding: 3vh;
    font-size: 4vh;
}
a {
    text-decoration: none;
}
*{
    color: black;
}

@media (max-width:500px) {
    a {
        font-size: 1rem;
    }
    ul {
        grid-template-columns: repeat(2,1fr);
    }
    nav {
        height: 18vh;
    }
    li {
        height: 1vh;

    }
}